<md-content>
    <md-toolbar class="md-accent" layout="row" layout-align="space-between">
        <a ui-sref="index">
            <md-button class="md-fab md-mini fa fa-mail-reply"></md-button>
        </a>
        <md-button class="md-fab md-mini fa fa-cog"></md-button>
    </md-toolbar>
    <md-content layout="column" layout-align="center center">
        <div id="createAgenda" class="md-margin" layout="column" layout-align="center center">
            <md-button class="md-fab">
            <span id="add">+</span>
            </md-button>


            <!--<md-fab-speed-dial md-open="true"  md-direction="down"-->
                               <!--ng-class="'md-fling'">-->
                <!--<md-fab-trigger>-->
                    <!--<md-button class="md-fab">-->
                        <!--<span id="add">+</span>-->
                    <!--</md-button>-->
                <!--</md-fab-trigger>-->
                <!--<md-fab-actions>-->
                    <!--<md-button aria-label="" class="md-fab  md-mini">-->
                        <!--<md-icon class="fa fa-cutlery"></md-icon>-->
                        <!--<md-tooltip md-direction="left">-->
                            <!--美食-->
                        <!--</md-tooltip>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="" class="md-fab  md-mini">-->
                        <!--<md-icon class="fa fa-building"></md-icon>-->
                        <!--<md-tooltip md-direction="left">-->
                            <!--住宿-->
                        <!--</md-tooltip>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="" class="md-fab  md-mini">-->
                        <!--<md-icon class="fa fa-cab"></md-icon>-->
                        <!--<md-tooltip md-direction="left">-->
                            <!--交通-->
                        <!--</md-tooltip>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="" class="md-fab  md-mini">-->
                        <!--<md-icon class="fa fa-tachometer"></md-icon>-->
                        <!--<md-tooltip md-direction="left">-->
                            <!--游玩-->
                        <!--</md-tooltip>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="" class="md-fab  md-mini">-->
                        <!--<md-icon class="fa fa-shopping-cart"></md-icon>-->
                        <!--<md-tooltip md-direction="left">-->
                            <!--购物-->
                        <!--</md-tooltip>-->
                    <!--</md-button>-->
                    <!--<md-button aria-label="" class="md-fab  md-mini">-->
                        <!--<md-icon class="fa fa-delicious"></md-icon>-->
                        <!--<md-tooltip md-direction="left">-->
                            <!--娱乐-->
                        <!--</md-tooltip>-->
                    <!--</md-button>-->
                <!--</md-fab-actions>-->
            <!--</md-fab-speed-dial>-->




            <h5 style="color: mediumvioletred">行程空空如也，快制定个吧</h5>
        </div>
    </md-content>
</md-content>

