<div id="logoBg" ng-cloak layout="column" layout-align="center center">
    <span id="login_closeBtn" ng-click="null" ui-sref="index" class="fa fa-close"></span>
    <div id="logo" layout="column" layout-align="center center">
        <span class="logo fa fa-ra"></span>
        <h3>印象智慧游</h3>
        <h5>秒秒钟搞定你的攻略</h5>
    </div>
    <div id="loginBtn" layout="column" layout-align="center center">
        <button ui-sref="index.logining" style="width: 80%;" class=" btn btn-block btn-success">已有帐号登录</button>
        <button ui-sref="index.register" style="width: 80%;margin-top: 15px" class="btn btn-block btn-warning">注册新的账号</button>
    </div>
</div>


