<div ng-cloak>
    <md-toolbar class="md-accent" layout="row" layout-align="space-between">
        <md-button  ui-sref="index"><span class="fa fa-mail-reply "></span></md-button>
        <h4>注册</h4>
        <md-button class="fa fa-info-circle"></md-button>
    </md-toolbar>
    <div class="mid" layout="column" layout-padding>
        <form name="registerForm" class="bs-example bs-example-form" role="form" novalidate="novalidate">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">用户名</span>
                <input type="text" name="user" ng-model="user" class="form-control" placeholder="用户名" required>
            </div><br>
            <div class="input-group input-group-lg telNum">
                <span class="input-group-addon">手机号</span>
                <input type="tel" name="telNum" ng-model="telNum" class="form-control" placeholder="合法手机号" required>
                <button id="verificatalCode">获取验证码</button>
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">密&nbsp;&nbsp;&nbsp;码</span>
                <input ng-minlength="8" type="password" class="form-control" placeholder="请输入密码" required>
            </div><br>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">验证码</span>
                <input type="text" class="form-control" placeholder="验证码" required>
            </div><br>
        </form>
        <div layout="row" layout-align="space-around">
            <button class="btn btn-primary logIcon">注册</button>
            <button class="btn btn-primary logIcon">取消</button>
        </div>
        <div id="agreeItems" layout="row" layout-align="center center">
            <i class="fa fa-check-circle ok"></i>我已阅读<a href="#">&lt;&lt;印象游使用条款和隐私政策&gt;&gt;</a>
        </div>
    </div>
</div>