
#conX{
    position: relative;
}


#userPic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    outline-style: none;
}
.closeBtn{
    margin-left: 132px;
}
/* md-siadenav*/
#tour_toolbar{
    position: fixed;
}
#tour_box{
    width: 100%;
    height: 62px;
}
.tourPhoto{
    margin: 13px 0;
    width: 100px;
    height: 62px;
    border-radius: 5px;
}
.tourName{
    font-size: 1.1em;
    line-height: 2em;
    margin-top: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.note{
    line-height: 1.1em;
    margin-top: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/*index页面end*/
#logoBg{
    height: 667px;

    background: url("../img/logobackground.jpg");
    background-size: cover;
    background-position: center;
}
#login_closeBtn{
    font-weight: 100;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    top: 10px;
    left: 10px;
}
.logo{
    font-size: 100px;
    color: mediumvioletred;

}
#loginBtn{
    width: 100%;
    position: relative;
    bottom: 40px;
}
#logo{
    position: relative;
    top: -80px;
    color: #ffffff;
}






#logining_top{
    background: url("../img/top.jpg") no-repeat;
    background-size: 100%;
    height: 200px;
}